@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200;300;400;500;600;700;800&display=swap");

.slab {
  font-family: "Roboto Slab", serif !important;
}

.underline {
  text-decoration: underline;
}

.avata img {
  height: 100px;
  width: 100px;
}

@media screen and (max-width: 500px) {
  .avata img {
    height: 70px;
    width: 70px;
  }

  .avata h5 {
    font-size: 1.1em;
  }
}

input {
  outline: none !important;
  border: none;
  font-family: ubuntu;
}
textarea {
  outline: none !important;
  border: none;
  font-family: ubuntu;
}
